<html>
  <head>
    <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
  </head>
  <body>
    <div>
      <div>
        <form action="/add_class" method="post">
          <h3>Add a new course</h3>
          <label>Name:<input type="text" name="name"></label>
          <label>Description:<textarea name="description"></textarea></label>
          <input type="submit" value="Add">
        </form>
      </div>
      <div>
        <h3>Courses</h3>
        <table>
          <tr>
            <th>Course Name</th>
            <th>Description</th>
            <th>Date Added</th>
            <th>Actions</th>
          {% for dictionary in classes %}
          </tr>
            <td>{{dictionary['name']}}</td>
            <td>{{dictionary['description']}}</td>
            <td>{{dictionary['created_at']}}</td>
            <td><a href="/delete/{{dictionary['id']}}">remove</a></td>
          {% endfor %}
          <tr>
        <table>
      </div>
    </div>
  </body>
</html>
